<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../public/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../../public/css/style.css" rel="stylesheet">
    <link rel="icon" href="../../public/img/iitj.png">
    <title>Office of Students' Placement, IIT Jodhpur</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        
        .container {
            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    </style>
</head>

<body style="margin:0px auto;">
    <h2 align="center">Office of Students' Placement, IIT Jodhpur</h2>
    <hr>
    <p align="center">
        <a class="btn btn-default" href="/admin/verifyResume">Verify Resume</a>
        <a class="btn btn-default" href="/admin/logout">Logout</a>
    </p>

    <p align="center">
        <%for(var i=0;i<5;i++){
				if(data[i]==0){%>
            <p align="center" style="color: red"> Resume
                <%=i+1%> : Not Uploaded </p>
            <%}
				else if(data[i]==1){%>
                <form action="/admin/verification" method="POST" align="center">
                    <div class="card-block">
                        <a class="btn btn-default" target="_blank" href="<%= userName %>/resume<%=i+1%>">Resume <%=i+1%></a>
                        <div>
                            <input type="checkbox" name="verification" value="yes">Approve<br>
                            <input type="checkbox" name="verification" value="no">Dissapprove<br>
                            <input type="hidden" name="xUser" value="<%= userName %>">
                            <input type="hidden" name="xResumeNumber" value="resume<%=i+1%>">
                            <button class="btn btn-default" type="submit" value="Submit">Submit<%=i+1%></button>
                        </div>
                    </div>
                </form>
                <%}
				else{%>
                    <p align="center" style="color: green"> Resume
                        <%=i+1%> : Verified </p>
                    <%}
			}%>
    </p>



    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="../../public/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../public/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../public/js/mdb.min.js"></script>
</body>

</html>