<html>
	<head>
		<meta charset="utf-8">
	    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	    <meta http-equiv="x-ua-compatible" content="ie=edge">
	    <!-- Font Awesome -->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
	    <!-- Bootstrap core CSS -->
	    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
	    <!-- Material Design Bootstrap -->
	    <link href="../../public/css/mdb.min.css" rel="stylesheet">
	    <!-- Your custom styles (optional) -->
	    <link href="../../public/css/style.css" rel="stylesheet">
		<title>Office of Students' Placement, IIT Jodhpur</title>
		<!--Let browser know website is optimized for mobile-->
		<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
		<style type="text/css">
			.row{
			    margin-left: 0;
			    margin-right: 0;
			}
			.container{
			    .row{
			        margin-left: -15px;
			        margin-right: -15px;
			    }
			}
            #border1:{
                margin-top:5px;margin-bottom:5px;;
            }
            li{
            margin:10px;   
            }
            li a{
                margin:10px; 
            }

		</style>
    </head>
    <body style="margin:0px auto;">
		<h2 align="center">Office of Students' Placement, IIT Jodhpur</h2>
		<hr>
		<h1 align="center">Welcome <%= adminName %></h1>
		<p align="center"><a class="btn btn-default" href="/admin/home">Home</a>

        <% for(var i = 0;i < data2.length;i++) { %>
            <p style="margin-left:10%;">Company Id:<b> <%= unqid%> </b></p>
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-5">
                    <table cellspacing="7"cellpadding="7" align="center">
                        <th>Basic Details</th>
                        <tr><td>Company Name</td><td><%=data2[i].name%></td></tr>
                        <tr><td>Email</td><td><%=data2[i].email%></td></tr>
                        <tr><td>Type</td><td><%=data2[i].type%></td></tr>
                        <tr><td>Website</td><td><%=data2[i].url%></td></tr>
                    </table>
                </div>
                <div class="col-lg-5">
                        <p><b>Complete Address:</b></p>
                        <p>City: <%=data2[i].city%>, State: <%=data2[i].state%>, 
                            Country: <%=data2[i].country%>, ZIP:<%=data2[i].zip%></p>  
                        <p><b>Offers Count :</b>&nbsp&nbsp<%=data2[i].offerscount%></p>
                </div>
                <div class="col-lg-1"></div>
            </div><hr style="width:70%;">
            <div class="row">
                <div class="col-lg-1"></div>
                <div class="col-lg-3">
                    <table cellspacing="7"cellpadding="7" align="center" style="padding-left:10px;border-right:1px solid black;">
                        <p><b>Contact Person 1</b></p>
                        <tr><td>Name</td><td><%=data2[i].person1_name%></td></tr>
                        <tr><td>Designation</td><td><%=data2[i].person1_desg%></td></tr>
                        <tr><td>Mobile</td><td><%=data2[i].person1_mobile%></td></tr>
                        <tr><td>Phone</td><td><%=data2[i].person1_phone%></td></tr>
                        <tr><td>Email</td><td><%=data2[i].person1_email%></td></tr>
                        <tr><td>Fax</td><td><%=data2[i].person1_fax%></td></tr>
                    </table>
                </div>
                <div class="col-lg-3" >
                    <table cellspacing="7"cellpadding="7" align="center" style="padding-left:10px;border-right:1px solid black;">
                        <p><b>Contact Person 2</b></p>
                        <% if(data2[i].person2_name){ %> <tr><td>Name</td><td><%=data2[i].person2_name%></td></tr>
                        <tr><td>Designation</td><td><%=data2[i].person2_desg%></td></tr>
                        <tr><td>Mobile</td><td><%=data2[i].person2_mobile%></td></tr>
                        <tr><td>Phone</td><td><%=data2[i].person2_phone%></td></tr>
                        <tr><td>Email</td><td><%=data2[i].person2_email%></td></tr>
                        <tr><td>Fax</td><td><%=data2[i].person2_fax%></td></tr>
                        <% } else { %> <tr><td>NIL</td></tr> <% } %>
                    </table>
                </div><div class="col-lg-3">
                    <table cellspacing="7"cellpadding="7" align="center">
                        <p><b>Contact Person 3</b></p>
                        <% if(data2[i].person3_name){ %> <tr><td>Name</td><td><%=data2[i].person3_name%></td></tr>
                        <tr><td>Designation</td><td><%=data2[i].person3_desg%></td></tr>
                        <tr><td>Mobile</td><td><%=data2[i].person3_mobile%></td></tr>
                        <tr><td>Phone</td><td><%=data2[i].person3_phone%></td></tr>
                        <tr><td>Email</td><td><%=data2[i].person3_email%></td></tr>
                        <tr><td>Fax</td><td><%=data2[i].person3_fax%></td></tr>
                        <% } else { %> <tr><td>NIL</td></tr> <% } %>
                    </table>
                </div>
                <div class="col-lg-2"></div>
            </div>
            <% } %>
            <br><br><br>
        <p align="center">
            <button class="btn btn-default btn-md" id="openbutton" onclick="openoffers()">Open Offers</button>
            <button class="btn btn-default btn-md" id="closedbutton" onclick="closedoffers()">Closed Offers</button>
            <button class="btn btn-default btn-md" id="allbutton" onclick="alloffers()">All Offers</button>
        </p>
        <p align="center" id="text"><b></b></p>  
     
			<% if(data.length){ 
            for(var i = 0;i < data.length;i++) { %>
                <P style="margin-left:15%;display:none;" <% if(data[i].open) { %> class="closed" <% } else { %> class="open" <% } %> ><b>Offer Id: <%= data[i].unq_id%></b></P>
                <div class="container card hoverable <% if(data[i].open) { %> closed <% } else { %> open <% } %>" style="display:none;width:60%;margin-bottom:5%;margin-left:20%;padding:2%;" 
                         >
                    <table>
                    <tr><td>
						<p style="margin-top:5px;margin-bottom:5px;"><a><b>Job Profile</b></a></p>
						<li><a>Job Designation</a><a><%=data[i].job_desg%></a></li>
						<li><a>Job Description</a><a><%=data[i].job_description%></a></li>
						<li><a>Joining Date</a><a><%=data[i].joining_date%></a></li>
                        <li><a>Job Location</a><a><%=data[i].job_location%></a></li>
                    </td>
                    <td>
						<p style="margin-top:5px;margin-bottom:5px;"><a><b>Package Details</b></a></p>
						<li><a>Salary</a><a><%=data[i].salary%></a></li>
						<li><a>Gross Salary</a><a><%=data[i].gross%></a></li>   
						<li><a>Bonus</a><a><%=data[i].bonus%></a></li>                 
                        <% if(data[i].bond) { %> <li><a>Bond</a><a><%=data[i].bond_description%></a></li><% } %> 
                    </td></tr>
                    <tr><td>
						<p style="margin-top:5px;margin-bottom:5px;"><a><b>Selection Process</b></a></p>
						<% if(data[i].aptitude_test) { %> <li><a>Aptitude Test</a></li> <% } %>
						<% if(data[i].rounds) { %> <li><a><%=data[i].rounds%> Round(s) of Technical Interview</a></li> <% } %> 
						<% if(data[i].group_discussion) { %> <li><a>Group Discussion</a></li> <% } %>
						<% if(data[i].medical_req) { %> <li><a>Medical Fitness</a></li> <% } %>
						<% if(data[i].shortlist_resume) { %> <li><a>Resume Shortlist Criteria: <%=data[i].shortlist_resume_specify%></a></li> <% } %> 
						<% if(data[i].hr_interview) { %> <li><a>HR Interview</a></li> <% } %>
						<% if(data[i].technical_test) { %> <li><a>Technical Test</a></li> <% } %>
                        <% if(data[i].min_cpi) { %> <li><a>Minimum CPI/CGPA: <%=data[i].min_cpi%></a></li> <% } %> 
                    </td>
                    <td>
						<p style="margin-top:5px;margin-bottom:5px;"><a><b>Open For</b></a></p>
						<% if(data[i].cse) { %> <li><a>B.Tech. Computer Science and Engineering </a></li> <% } %>
						<% if(data[i].ee) { %> <li><a>B.Tech. Electrical Engineering </a></li> <% } %>
						<% if(data[i].me) { %> <li><a>B.Tech. Mechanical Engineering </a></li> <% } %>
						<% if(data[i].ss) { %> <li><a>B.Tech. System Science</a></li> <% } %>
						<% if(data[i].sscse) { %> <li><a>B.Tech. System Science (Computer Science and Engineering)</a></li> <% } %>
						<% if(data[i].ssee) { %> <li><a>B.Tech. System Science(Electrical Engineering)</a></li> <% } %>
						<% if(data[i].ssme) { %> <li><a>B.Tech. System Science(Mechanical Engineering)</a></li> <% } %>
						<% if(data[i].biss) { %> <li><a>B.Tech. Biologically Inspired System Science</a></li> <% } %>
						<% if(data[i].bisscse) { %> <li><a>B.Tech. Biologically Inspired System Science (Computer Science and Engineering) </a></li> <% } %>
						<% if(data[i].bissee) { %> <li><a>B.Tech. Biologically Inspired System Science (Electrical Engineering) </a></li> <% } %>
						<% if(data[i].bissme) { %> <li><a>B.Tech. Biologically Inspired System Science (Mechanical Engineering) </a></li> <% } %>
						<% if(data[i].mme) { %> <li><a>M.Tech. Electrical Engineering </a></li> <% } %>
						<% if(data[i].mee) { %> <li><a>M.Tech. Mechanical Engineering  </a></li> <% } %>
						<% if(data[i].mscphy) { %> <li><a>M.Sc. Physics</a></li> <% } %>
						<% if(data[i].mscche) { %> <li><a>M.Sc. Chemistry</a></li> <% } %>
                        <% if(data[i].mscmath) { %> <li><a>M.Sc. Mathematics</a></li> <% } %>
                     </td></tr>
                    <tr><td>
						<p style="margin-top:5px;margin-bottom:5px;"><a><b>Logistic Requirements</b></a></p>	
						<% if(data[i].members) { %> <li><a><%=data[i].members%> Members</a></li> <% } %>
						<% if(data[i].rooms) { %> <li><a><%=data[i].rooms%> Rooms</a></li> <% } %>
                        <% if(data[i].others_logistics) { %> <li><a>Others: <%=data[i].others_logistics%></a></li> <% } %>
                    </td><td>
                        <p style="margin-top:5px;margin-bottom:5px;"><b><a>Status&nbsp&nbsp&nbsp</a><a><%=data[i].open%></a></b></p>
                    </td></tr>
                    </table>
                    <p align="center"><a href="/admin/viewStudents/<%= data[i].unq_id%>">Students Applied</a></p>
                    <p align="center"><a href="/admin/approveOffer/<%= data[i].unq_id%>">Approve Offer</a></p>
                </div>
                
						<% }
						}else{ %>
							<li>
							<a>Not a valid Offer. </a>
                            <li>
                        <% } %>
                        
                <div class="row">

                </div>
        <!-- SCRIPTS -->
        <script>
            function openoffers(){
                console.log("Open offers called !!");
                var elements = document.getElementsByClassName("open");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="block";
                }
                var x=elements.length;
                elements = document.getElementsByClassName("closed");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="none";
                }
                var value1="No Open Offers at this time.";
                var value2="<a style='color:#4285F4'>Open Offers</a>";
                if (x) document.getElementById("text").innerHTML=value2;
                else document.getElementById("text").innerHTML=value1;
            }
            function closedoffers(){
                console.log("Closed offers called !!");
                var elements = document.getElementsByClassName("closed");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="block";
                }
                var x=elements.length;
                elements = document.getElementsByClassName("open");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="none";
                }
                var value1="No Closed Offers at this time.";
                var value2="<a style='color:#4285F4'>Closed Offers</a>";
                if (x) document.getElementById("text").innerHTML=value2;
                else document.getElementById("text").innerHTML=value1;
            }
            function alloffers(){
                console.log("Closed offers called !!");
                var elements = document.getElementsByClassName("closed");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="block";
                }
                var x=elements.length;
                elements = document.getElementsByClassName("open");
                for(var i=0; i<elements.length; i++) {
                   elements[i].style.display="block";
                }
                var y=elements.length;   
                var value1="<a style='color:#4285F4'>All Offers</a>";
                var value2="No Offers at this time."
                if(x+y) document.getElementById("text").innerHTML=value1;
                else document.getElementById("text").innerHTML=value2;
            }
        </script>
	    <!-- JQuery -->
	    <script type="text/javascript" src="../../public/js/jquery-3.1.1.min.js"></script>
	    <!-- Bootstrap tooltips -->
	    <script type="text/javascript" src="../../public/js/tether.min.js"></script>
	    <!-- Bootstrap core JavaScript -->
	    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
	    <!-- MDB core JavaScript -->
	    <script type="text/javascript" src="../../public/js/mdb.min.js"></script>
	</body>
</html>