<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <!-- Font Awesome -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.0/css/font-awesome.min.css">
    <!-- Bootstrap core CSS -->
    <link href="../../public/css/bootstrap.min.css" rel="stylesheet">
    <!-- Material Design Bootstrap -->
    <link href="../../public/css/mdb.min.css" rel="stylesheet">
    <!-- Your custom styles (optional) -->
    <link href="../../public/css/style.css" rel="stylesheet">
    <link rel="icon" href="../../public/img/iitj.png">
    <title>Office of Students' Placement, IIT Jodhpur</title>
    <!--Let browser know website is optimized for mobile-->
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <style type="text/css">
        .row {
            margin-left: 0;
            margin-right: 0;
        }
        
        .container {
            .row {
                margin-left: -15px;
                margin-right: -15px;
            }
        }
    </style>
</head>

<body style="margin:0px auto ;">
    <h2 align="center">Office of Students' Placement, IIT Jodhpur</h2>
    <hr>
    
    <p align="center">
        <a class="btn btn-default" href="/admin/home">Home</a>
        <a class="btn btn-default" href="/admin/verifyResume">Verify Resume</a>
        <a class="btn btn-default" href="/admin/viewCredentials">Students Credentials</a>
        <a class="btn btn-default" href="/admin/viewCompany">View Companies</a>
        <a class="btn btn-default" href="/admin/logout">Logout</a>
    </p>
    <p align="center"><b>Placed Students</b></p><br>
    <div class="row">

        <table border="1" cellpadding="7" cellspacing="7" align="center">
            <tr>
                <th width="50px">Sl. No.</th>
                <th>Student Name</th>
                <th>Roll Number</th>
                <th>Year</th>
                <th>Company Name</th>
                <th>CTC</th>
            </tr>
            <% data.sort(function(a,b){
                return a.ldap_id > b.ldap_id ? 1 : -1;
            });
            function toTitleCase(str){
                return str.replace(/\w\S*/g, function(txt){return txt.charAt(0).toUpperCase() + txt.substr(1).toLowerCase();});
            }
            if(data.length){ 
				for(var i = 0;i < data.length;i++) { %>
                <tr>
                    <td>
                        <%=(i+1)%>
                    </td>
                    <td>
                        <%var correctName = toTitleCase(data[i].name);%>
                        <%=correctName%>
                    </td>
                    <td>
                        <%=data[i].roll_no%>
                    </td>
                    <td>
                        <%=data[i].year%>
                    </td>
                    <td>
                        <%var correctStr = toTitleCase(data[i].company_name);%>
                        <%=correctStr%>
                    </td>
                    <td>
                        <%=data[i].ctc%>
                    </td>
                </tr>
                <% }
					}else{ %>
                    <tr>
                        <td colspan="3">No Students placed at this time.</td>
                    </tr>
                    <% } %>
        </table>
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="../../public/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../public/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../public/js/mdb.min.js"></script>
</body>

</html>