<html>

</style>
</head>

<body style="margin:0px auto;">
    <h2 align="center">Office of Students' Placement, IIT Jodhpur</h2>
    <hr>
    <br><br>
    <p align="center">
        <a class="btn btn-default" href="/student/home">Home</a>
        <a class="btn btn-default" href="/student/uploadResume">Upload Resume</a>
        <a class="btn btn-default" href="/student/editDetails">Edit Personal Details</a>
        <a class="btn btn-default" href="/student/viewOffers">View Offers</a>
        <a class="btn btn-default" href="/student/logout">Logout</a>
    </p>
    <div class="text-center">

        <p align="right" style="color: red;text-align:center">
            <%= status %>
        </p>

    </div>
    <div class="row">
        <%if(len1!=0){%>
            <table border="1" cellpadding="7" cellspacing="7" align="center">
                <tr>
                    <th>S. No</th>
                    <th>Company Name</th>
                    <th>Job Designation</th>
                    <th>Job Description</th>
                    <th>Status</th>
                </tr>
                <%
			data1.sort(function(a,b){
				return a.unq_id > b.unq_id ? 1 : -1;
			});
			if(len2!=0){
				data2.sort(function(a,b){
					return a.uniq_id > b.uniq_id ? 1 : -1;
				});
			}
			var i = 0;
			var j = 0;
			for(i= 0;i < data1.length;i++) {
				if(j==len2){
					break;
				}
				if(data1[i].unq_id==data2[j].uniq_id){ j++; %>
                    <tr>
                        <td>
                            <%=i+1%>
                        </td>
                        <td>
                            <%=data1[i].company_name%>
                        </td>
                        <td>
                            <%=data1[i].job_desg%>
                        </td>
                        <td>
                            <%=data1[i].job_description%>
                        </td>
                        <td><a href="/student/viewOffer/<%=d ata1[i].unq_id %>/applied">Applied</a>
                        </td>
                    </tr>
                    <%}
				else{%>
                        <tr>
                            <td>
                                <%=i+1%>
                            </td>
                            <td>
                                <%=data1[i].company_name%>
                            </td>
                            <td>
                                <%=data1[i].job_desg%>
                            </td>
                            <td>
                                <%=data1[i].job_description%>
                            </td>
                            <td><a href="/student/viewOffer/<%= data1[i].unq_id %>/applyNow" style="color: green;">View Offer</a></td>
                        </tr>
                        <%}
			} 
			for(var k= i;k < len1;k++){%>
                            <tr>
                                <td>
                                    <%=k+1%>
                                </td>
                                <td>
                                    <%=data1[k].company_name%>
                                </td>
                                <td>
                                    <%=data1[k].job_desg%>
                                </td>
                                <td>
                                    <%=data1[k].job_description%>
                                </td>
                                <td><a href="/student/viewOffer/<%= data1[k].unq_id %>/applyNow" style="color: green;">View Offer</a></td>
                            </tr>
                            <%}%>
            </table>
            <%}
		else{%>
                <p align="center">
                    <p align="center" style="color: green;">No Offers Available for you</p>
                </p>
                <%}%>
    </div>

    <!-- SCRIPTS -->
    <!-- JQuery -->
    <script type="text/javascript" src="../../public/js/jquery-3.1.1.min.js"></script>
    <!-- Bootstrap tooltips -->
    <script type="text/javascript" src="../../public/js/tether.min.js"></script>
    <!-- Bootstrap core JavaScript -->
    <script type="text/javascript" src="../../public/js/bootstrap.min.js"></script>
    <!-- MDB core JavaScript -->
    <script type="text/javascript" src="../../public/js/mdb.min.js"></script>
</body>

</html>